<% if @school_teachers %>
<%= render 'dash' %>
<!-- Begin Page Content -->
<div class="container-fluid">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> click create teacher to add teachers to your school. To assign a course/class to a teacher just click the name of the teacher and you will be taken to the teacher dashboard on the left side you will see the manage course/grades button.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Page Heading -->
  <%= link_to "Create Teacher", new_teacher_registration_path, class: "btn btn-success" %>
  <h1>Teachers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @school_teachers.each do |teacher| %>
        <tr>
          <td><%= link_to teacher.name, [teacher.school, teacher] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<!-- /.container-fluid -->
<%= render 'dashend' %>
<% else %>
  <h1 class="text-center pt-5">You dont have access to the page</h1>
<% end %>