<% if @school_teachers %>
<%= render 'dash' %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <%= link_to "Create Teacher", new_teacher_registration_path %>
  <h1>Teachers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @school_teachers.each do |teacher| %>
        <tr>
          <td><%= link_to teacher.name, [teacher.school, teacher] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<!-- /.container-fluid -->
<%= render 'dashend' %>
<% else %>
  <h1 class="text-center pt-5">You dont have access to the page</h1>
<% end %>