<% if current_admin == @admin %>
<%= render 'dash' %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
</div>
<!-- /.container-fluid -->
<%= render 'dashend' %>
<% else %>
  <h1 class="text-center pt-5">You dont have access to the page</h1>
<% end %>