<%= render 'dash' %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> create at least 1 class if you do not have any, so that the students, teachers section will appear in the left side of the admin panel. Click at the link classes on your left side
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Progress Information</h1>
</div>
<!-- /.container-fluid -->
<%= render 'dashend' %>
