<%= render 'layouts/header' %>
<% if admin_signed_in? && !current_admin.school %>
<%= render 'form', school: @school %>
<% else %>
    <h1 class="text-center pt-3">You are not authorized!</h1>
<% end %>