.hero {
    text-align: center;
    color: white;
}

.hero .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero .branding {
    margin-bottom: 100px;
    display: inline-block;
}

.hero-content {
    margin-bottom: 100px;
    color: white;
    text-align: center;
}

.footer-cta .hero-content {
    margin-bottom: 50px;
}

.hero-content h1 {
    font-size: 50px;
    font-size: 3.125em;
}

.subscribe-form {
    position: relative;
    width: 50%;
    max-width: 100%;
    margin: 0 auto 100px;
}

@media screen and (max-width: 768px) {
    .subscribe-form {
        width: 100%;
    }
}

.footer-cta .subscribe-form {
    margin-bottom: 0;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"] {
    width: 100%;
    padding: 15px 150px 15px 15px;
}

.subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.fullwidth-block {
    padding-top: 100px;
    padding-bottom: 100px;
}

[data-bg-image] {
    background-size: cover;
}

.section-title,
.section-subtitle {
    display: block;
    text-align: center;
}

.section-title {
    font-size: 48px;
    font-size: 3em;
    color: #50576a;
    margin: 0 0 10px;
}

.section-subtitle {
    font-size: 24px;
    font-size: 1.5em;
    margin-bottom: 80px;
}

.figure {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.feature {
    text-align: center;
    margin-bottom: 50px;
}

.feature .feature-icon {
    width: 130px;
    height: 130px;
    background: #4a7cd5;
    border-radius: 50%;
    text-align: center;
    padding-top: 35px;
    display: inline-block;
    margin-bottom: 20px;
}

.feature .feature-title {
    font-size: 20px;
    font-size: 1.25em;
    color: #50576a;
    font-weight: 400;
}

.testimonial {
    position: relative;
    padding-left: 130px;
    margin-bottom: 30px;
}

.testimonial .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.testimonial span.meta {
    display: block;
    margin-bottom: 20px;
}

.testimonial .testimonial-content {
    background: white;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.testimonial .testimonial-content:before {
    content: " ";
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 20px;
    left: -20px;
}

.testimonial .testimonial-content p:last-child {
    margin-bottom: 0;
}

.pricing {
    border: 1px solid #9598a2;
    border-radius: 5px;
    margin-bottom: 50px;
}

.pricing .pricing-header {
    background: #50576a;
    text-align: center;
    padding: 20px;
}

.pricing .pricing-header .pricing-title {
    color: white;
    font-size: 18px;
    font-size: 1.125em;
    margin: 0 0 10;
}

.pricing .pricing-header .price sup {
    font-size: 40px;
    font-size: 2.5rem;
}

.pricing .pricing-header .price .num {
    font-size: 50px;
    font-size: 3.125em;
    color: white;
}

.pricing .pricing-header .price small {
    font-size: 14px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
}

.pricing.featured {
    border-color: #4a7cd5;
}

.pricing.featured .pricing-header {
    background: #4a7cd5;
}

.pricing .pricing-checklist {
    padding: 30px;
}

.pricing .pricing-checklist ul {
    list-style: none;
}

.pricing .pricing-checklist ul li {
    padding: 10px 10px 10px 20px;
    position: relative;
}

.pricing .pricing-checklist ul li:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 10px;
    font-size: 0.625em;
    position: absolute;
    left: 0;
    top: 15px;
}

.pricing .pricing-checklist ul li.check:before {
    content: "\f00c";
    color: #4a7cd5;
}

dl dt {
    font-size: 18px;
    font-size: 1.125em;
    color: #50576a;
    font-weight: 400;
    margin-bottom: 10px;
}

dl dd {
    margin: 0 0 30px;
}


/*
   * Footer Styles
   */

.site-footer {
    text-align: center;
    padding: 50px 0;
}

.social-links {
    margin: 30px 0;
}

.social-links a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
    font-size: 18px;
    font-size: 1.125em;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    color: white;
    line-height: normal;
}

.social-links a.facebook {
    background-color: #204385;
}

.social-links a.twitter {
    background-color: #2aa9e0;
}

.social-links a.google-plus {
    background-color: #d3492c;
}

.social-links a.pinterest {
    background-color: #ca2128;
}